.addNewUser {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* input {
  height: 25px;
  min-width: 50px;
}

option, select, button {
  height: 30px;
  width: 120px;
}

button:enabled {
  background-color: darkolivegreen;
  color: white;
} */

.messagebox {
  background-color: salmon;
  border: 1px black solid;
  font-size: small;
  font-weight: 600;
  margin: 0 auto;
  max-width: 250px;
  padding: 5px;
  text-align: center;
}
