.userBox {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 60vh;
  border: 1px black solid;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  width: 200px;
  height: 30px;
}