.container {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  height: 100vh;
}

.userbox {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #FCE38A;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.userbox label {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
}

.userbox input {
  height: 25px;
  min-width: 250px;
}

.redirectBtn {
  font-size: small;
}

.css-button-arrow--black {
  min-width: 150px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #343a40
}
.css-button-arrow--black:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.css-button-arrow--black:hover:after {
  opacity: 1;
  right: 10px;
}
.css-button-arrow--black:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}