.container {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  height: 100vh;
}

.userbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 30vw;
  align-items: center;
  justify-content: space-evenly;
  height: 290px;
}

.userbox label {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.userbox input {
  height: 25px;
  min-width: 320px;
  border-radius: 3px;
}

.showpassword {
  position: absolute;
  margin-left: 280px;
  cursor: pointer;
}

.redirectBtn {
  font-size: small;
}

input {
  border: 0.5px grey solid;
}

.css-button-arrow--black {
  width: 330px;
  min-height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-size: small;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #343a40;
}

.css-button-arrow--black:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.css-button-arrow--black:hover:after {
  opacity: 1;
  right: 10px;
}
.css-button-arrow--black:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.googlebtn {
  width: 330px;
  min-height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-size: small;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: crimson;
}

.googlebtn:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.googlebtn:hover:after {
  opacity: 1;
  right: 10px;
}

.googlebtn:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}